.App {
  text-align: center;
}

.DrumMachine {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: black;
  color:aliceblue;
  padding-left: 10%;
  padding-right: 10%;
}

.buttons {
  align-items: center;

}



.display {
  background-color: dimgray;
  height: calc(12px + 2vmin);
  font-size: 20px;
  color:chartreuse;
  border: 1px solid white;
  width: 200px;
  margin-top: 20px;

}

.drum-pad {
  background-color: dimgray;
  border: 1px solid fuchsia;
  width: 50px;
  height: 50px;
  margin: 20px;
}

.drum-pad :hover{
  background-color:fuchsia;
  color:greenyellow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
